In [14]:
import pandas as pd
import os
from functools import reduce

In [15]:
folder_path = '/Users/ariana/Desktop/DWITW - Final Project/Data Tables'

In [16]:
data_frames = []

for filename in os.listdir(folder_path):
    if filename.endswith('.csv') and filename != 'objects.csv':  # Exclude objects.csv
        file_path = os.path.join(folder_path, filename)
        df = pd.read_csv(file_path)
        data_frames.append(df)

data_frames

[          id  funding_round_id object_id   funded_at funding_round_type  \
 0          1                 1       c:4  2006-12-01           series-b
 1          2                 2       c:5  2004-09-01              angel
 2          3                 3       c:5  2005-05-01           series-a
 3          4                 4       c:5  2006-04-01           series-b
 4          5                 5    c:7299  2006-05-01           series-b
 ...      ...               ...       ...         ...                ...
 52923  57948             57948  c:211890  2013-12-12           series-a
 52924  57949             57949  c:267427  2010-02-06            venture
 52925  57950             57950  c:261728  2010-02-06            venture
 52926  57951             57951  c:285864  2013-12-12           series-a
 52927  57952             57952  c:286215  2010-04-07            venture

       funding_round_code  raised_amount_usd  raised_amount  \
 0                      b          8500000.0      8500000.0
 1                  angel           500000.0       500000.0
 2                      a         12700000.0     12700000.0
 3                      b         27500000.0     27500000.0
 4                      b         10500000.0     10500000.0
 ...                  ...                ...            ...
 52923                  a          3000000.0      3000000.0
 52924            partial           570000.0       570000.0
 52925       unattributed          2184100.0      2184100.0
 52926                  a           790783.0       790783.0
 52927            partial           271250.0       271250.0

       raised_currency_code  pre_money_valuation_usd  ...  \
 0                      USD                      0.0  ...
 1                      USD                      0.0  ...
 2                      USD              115000000.0  ...
 3                      USD              525000000.0  ...
 4                      USD                      0.0  ...
 ...                    ...                      ...  ...
 52923                  USD                      0.0  ...
 52924                  USD                      0.0  ...
 52925                  USD                      0.0  ...
 52926                  USD                      0.0  ...
 52927                  USD                      0.0  ...

        post_money_valuation post_money_currency_code  participants  \
 0                       0.0                      NaN             2
 1                       0.0                      USD             2
 2                       0.0                      USD             3
 3                       0.0                      USD             4
 4                       0.0                      NaN             2
 ...                     ...                      ...           ...
 52923                   0.0                      USD             1
 52924                   0.0                      USD             0
 52925                   0.0                      USD             0
 52926                   0.0                      USD             0
 52927                   0.0                      USD             0

        is_first_round is_last_round  \
 0                   0             0
 1                   0             1
 2                   0             0
 3                   0             0
 4                   0             0
 ...               ...           ...
 52923               1             1
 52924               0             1
 52925               0             1
 52926               1             1
 52927               1             1

                                               source_url  \
 0      http://www.marketingvox.com/archives/2006/12/2...
 1                                                    NaN
 2      http://www.techcrunch.com/2007/11/02/jim-breye...
 3       http://www.facebook.com/press/info.php?factsheet
 4      http://www.techcrunch.com/2006/05/14/photobuck...
 ...                                                  ...
 52923  http://techcrunch.com/2013/12/12/bitstrips-ser...
 52924  http://www.sec.gov/Archives/edgar/data/1434188...
 52925  http://www.sec.gov/Archives/edgar/data/1335158...
 52926  http://www.startupticker.ch/en/news/december-2...
 52927  http://www.sec.gov/Archives/edgar/data/1488680...

                                       source_description        created_by  \
 0                                                    NaN  initial-importer
 1                                                    NaN  initial-importer
 2      Jim Breyer: Extra $500 Million Round For Faceb...  initial-importer
 3                                       Facebook Funding  initial-importer
 4        PhotoBucket Closes $10.5M From Trinity Ventures  initial-importer
 ...                                                  ...               ...
 52923  Bitstrips Confirms $3M Series A From Horizons,...          amit2013
 52924                                                SEC       santosh2013
 52925                                                SEC       santosh2013
 52926       UrbanFarmers closes interim-investment round          amit2013
 52927                                                SEC       prasant2013

                 created_at           updated_at
 0      2007-07-04 04:52:57  2008-02-27 23:14:29
 1      2007-05-27 06:08:18  2013-06-28 20:07:23
 2      2007-05-27 06:09:10  2013-06-28 20:07:23
 3      2007-05-27 06:09:36  2013-06-28 20:07:24
 4      2007-05-29 11:05:59  2008-04-16 17:09:12
 ...                    ...                  ...
 52923  2013-12-12 14:12:05  2013-12-12 14:12:05
 52924  2013-12-12 14:13:11  2013-12-12 14:13:11
 52925  2013-12-12 14:19:35  2013-12-12 14:19:35
 52926  2013-12-12 14:23:49  2013-12-12 14:23:49
 52927  2013-12-12 14:27:53  2013-12-12 14:27:53

 [52928 rows x 23 columns],
             id object_id first_name last_name   birthplace affiliation_name
 0            1       p:2        Ben   Elowitz          NaN        Blue Nile
 1            2       p:3      Kevin  Flaherty          NaN         Wetpaint
 2            3       p:4       Raju   Vegesna          NaN             Zoho
 3            4       p:5        Ian     Wenig          NaN             Zoho
 4            5       p:6      Kevin      Rose  Redding, CA     i/o Ventures
 ...        ...       ...        ...       ...          ...              ...
 226704  226705  p:268589       John      Pins          NaN     Unaffiliated
 226705  226706  p:268590      David  Schulhof          NaN     Unaffiliated
 226706  226707  p:268592    Matthew  D. Rosen          NaN     Unaffiliated
 226707  226708  p:268593     Gordon  Hutchins          NaN     Unaffiliated
 226708  226709  p:268597     Denise     Basow          NaN     Unaffiliated

 [226709 rows x 6 columns],
         id  fund_id object_id                        name   funded_at  \
 0        1        1     f:371                 Second Fund  2008-12-16
 1        4        4      f:17  Sequoia Israel Fourth Fund  2008-12-17
 2        5        5     f:951                  Tenth fund  2008-08-11
 3        6        6     f:192           New funds acquire         NaN
 4        7        7     f:519                  Third fund  2008-05-20
 ...    ...      ...       ...                         ...         ...
 1559  1697     1697     f:101                      Fund V  2013-12-11
 1560  1698     1698    f:7331   JANVEST Technologies LP I  2013-03-19
 1561  1699     1699    f:7791                     Fund II  2013-12-11
 1562  1700     1700   f:15091                      Fund I  2013-12-11
 1563  1701     1701    f:5920        Rochester Angel Fund  2013-12-12

       raised_amount raised_currency_code  \
 0       300000000.0                  USD
 1       200750000.0                  USD
 2       650000000.0                  USD
 3       625000000.0                  USD
 4       200000000.0                  USD
 ...             ...                  ...
 1559    150000000.0                  USD
 1560            5.0                  USD
 1561      5000000.0                  USD
 1562      1100000.0                  USD
 1563      2300000.0                  USD

                                              source_url  \
 0     http://www.pehub.com/26194/dfj-dragon-raising-...
 1     http://www.pehub.com/26725/sequoia-israel-rais...
 2     http://venturebeat.com/2008/08/11/interwest-cl...
 3     http://venturebeat.com/2008/07/28/us-venture-p...
 4     http://venturebeat.com/2008/05/20/disneys-stea...
 ...                                                 ...
 1559  http://pevc.dowjones.com/article?an=DJFVW00020...
 1560  http://www.globes.co.il/serveen/globes/docview...
 1561  http://www.bizjournals.com/portland/blog/2013/...
 1562  http://bizbeatblog.dallasnews.com/2013/12/dall...
 1563     http://www.rbjdaily.com/article.asp?aID=204869

                                      source_description           created_at  \
 0                                                 peHub  2008-12-17 03:07:16
 1                     Sequoia Israel Raises Fourth Fund  2008-12-18 22:04:42
 2                                          Venture Beat  2008-12-31 09:47:51
 3     U.S. Venture Partners raises $625M fund for ne...  2009-01-01 18:13:44
 4                                          Venture Beat  2009-01-03 09:51:58
 ...                                                 ...                  ...
 1559  BlueRun Raising $150M Fund V Aimed at U.S. Aft...  2013-12-11 12:57:22
 1560  JANVEST Technologies raises $5m Israel Angel fund  2013-12-11 21:32:25
 1561  Portland Seed Fund ready to start investing af...  2013-12-12 07:15:56
 1562  Dallas Angel Network closes $1 million investm...  2013-12-12 07:47:27
 1563  Angel Network to invest $2.3 million in area b...  2013-12-12 09:42:12

                updated_at
 0     2008-12-17 03:07:16
 1     2008-12-18 22:04:42
 2     2008-12-31 09:47:51
 3     2009-01-01 18:16:27
 4     2013-09-03 16:34:54
 ...                   ...
 1559  2013-12-11 12:57:22
 1560  2013-12-12 03:57:09
 1561  2013-12-12 07:15:56
 1562  2013-12-12 07:47:27
 1563  2013-12-12 09:42:12

 [1564 rows x 11 columns],
             id object_id degree_type                       subject  \
 0            1    p:6117         MBA                           NaN
 1            2    p:6136          BA               English, French
 2            3    p:6136          MS            Mass Communication
 3            4    p:6005          MS           Internet Technology
 4            5    p:5832         BCS  Computer Science, Psychology
 ...        ...       ...         ...                           ...
 109605  109606  p:268589         CPA                           NaN
 109606  109607  p:268527     MS & BS                   Engineering
 109607  109608  p:268527         PhD                   Engineering
 109608  109609  p:268528        B.S.        Electrical Engineering
 109609  109610  p:268528        J.D.                           NaN

                                               institution graduated_at  \
 0                                                     NaN          NaN
 1                        Washington University, St. Louis   1990-01-01
 2                                       Boston University   1992-01-01
 3                                 University of Greenwich   2006-01-01
 4                                         Rice University          NaN
 ...                                                   ...          ...
 109605  American Institute of Certtified Public Accoun...          NaN
 109606               South China University of Technology          NaN
 109607                                Clarkson University          NaN
 109608                          Colorado State University          NaN
 109609              University of San Diego School of Law          NaN

                  created_at           updated_at
 0       2008-02-19 03:17:36  2008-02-19 03:17:36
 1       2008-02-19 17:58:31  2008-02-25 00:23:55
 2       2008-02-19 17:58:31  2008-02-25 00:23:55
 3       2008-02-19 23:40:40  2008-02-25 00:23:55
 4       2008-02-20 05:28:09  2008-02-20 05:28:09
 ...                     ...                  ...
 109605  2013-12-12 14:28:58  2013-12-12 14:28:58
 109606  2013-12-12 14:31:21  2013-12-12 14:31:21
 109607  2013-12-12 14:31:48  2013-12-12 14:31:48
 109608  2013-12-12 14:38:15  2013-12-12 14:38:15
 109609  2013-12-12 14:38:33  2013-12-12 14:38:33

 [109610 rows x 8 columns],
         id  ipo_id object_id  valuation_amount valuation_currency_code  \
 0        1       1    c:1654      0.000000e+00                     USD
 1        2       2    c:1242      0.000000e+00                     USD
 2        3       3     c:342      0.000000e+00                     USD
 3        4       4      c:59      0.000000e+00                     USD
 4        5       5     c:317      1.000000e+11                     USD
 ...    ...     ...       ...               ...                     ...
 1254  1255    1372  c:267859      0.000000e+00                     USD
 1255  1256    1373   c:39330      0.000000e+00                     USD
 1256  1257    1374  c:220208      0.000000e+00                     USD
 1257  1258    1375  c:243568      0.000000e+00                     USD
 1258  1259    1376  c:235945      0.000000e+00                     USD

       raised_amount raised_currency_code   public_at stock_symbol  \
 0      0.000000e+00                  USD  1980-12-19  NASDAQ:AAPL
 1      0.000000e+00                  NaN  1986-03-13  NASDAQ:MSFT
 2      0.000000e+00                  NaN  1969-06-09     NYSE:DIS
 3      0.000000e+00                  NaN  2004-08-25  NASDAQ:GOOG
 4      0.000000e+00                  NaN  1997-05-01  NASDAQ:AMZN
 ...             ...                  ...         ...          ...
 1254   0.000000e+00                  USD         NaN     NYSE:EBS
 1255   7.250000e+08                  USD  2013-12-11    NYSE:ARMK
 1256   2.350000e+09                  USD  2008-12-08     NYSE:HLT
 1257   0.000000e+00                  USD         NaN     OTC:BCLI
 1258   5.300000e+07                  USD         NaN   NASDAQ:KIN

                                              source_url  \
 0                                                   NaN
 1                                                   NaN
 2                                                   NaN
 3                                                   NaN
 4                                                   NaN
 ...                                                 ...
 1254                                                NaN
 1255  http://www.reuters.com/article/2013/12/11/aram...
 1256  http://news.hiltonworldwide.com/index.cfm/news...
 1257                                                NaN
 1258  http://www.bizjournals.com/sanjose/news/2013/1...

                                      source_description           created_at  \
 0                                                   NaN  2008-02-09 05:17:45
 1                                                   NaN  2008-02-09 05:25:18
 2                                                   NaN  2008-02-09 05:40:32
 3                                                   NaN  2008-02-10 22:51:24
 4                                                   NaN  2008-02-10 23:28:09
 ...                                                 ...                  ...
 1254                                                NaN  2013-12-12 05:42:06
 1255  Food services firm Aramark raises $725 mln in ...  2013-12-12 07:08:45
 1256    Hilton Worldwide Prices Initial Public Offering  2013-12-12 07:16:31
 1257                                                NaN  2013-12-12 12:52:49
 1258      Kindred Biosciences raises $53 million in IPO  2013-12-12 14:21:48

                updated_at
 0     2012-04-12 04:02:59
 1     2010-12-11 12:39:46
 2     2010-12-23 08:58:16
 3     2011-08-01 20:47:08
 4     2011-08-01 21:11:22
 ...                   ...
 1254  2013-12-12 05:42:06
 1255  2013-12-12 07:19:44
 1256  2013-12-12 07:20:41
 1257  2013-12-12 12:52:49
 1258  2013-12-12 14:21:48

 [1259 rows x 13 columns],
             id  relationship_id person_object_id relationship_object_id  \
 0            1                1              p:2                    c:1
 1            2                2              p:3                    c:1
 2            3                3              p:4                    c:3
 3            4                4              p:5                    c:3
 4            6                6              p:7                    c:4
 ...        ...              ...              ...                    ...
 402873  480903           480903         p:268527               c:286218
 402874  480906           480906         p:268597                c:12612
 402875  480907           480907         p:268528               c:286152
 402876  480908           480908         p:268528               c:286220
 402877  480909           480909         p:268528               c:286221

           start_at      end_at  is_past  sequence  \
 0              NaN         NaN        0         8
 1              NaN         NaN        1    279242
 2              NaN         NaN        0         4
 3       2006-03-01  2009-12-01        1         4
 4       2005-07-01  2010-04-05        1         1
 ...            ...         ...      ...       ...
 402873  2005-01-01  2010-01-01        1         1
 402874         NaN         NaN        0         1
 402875         NaN         NaN        1    273049
 402876         NaN         NaN        1         1
 402877         NaN         NaN        1         1

                                                     title  \
 0                       Co-Founder/CEO/Board of Directors
 1                                            VP Marketing
 2                                              Evangelist
 3                     Senior Director Strategic Alliances
 4                                 Chief Executive Officer
 ...                                                   ...
 402873                        Sr. Consultant/Patent Agent
 402874  VP, GM & Editor In Chief - Clinical Decison Su...
 402875                                     Vice President
 402876  General Counsel, Director of Patents and Licen...
 402877                                    Design Engineer

                  created_at           updated_at
 0       2007-05-25 07:03:54  2013-06-03 09:58:46
 1       2007-05-25 07:04:16  2010-05-21 16:31:34
 2       2007-05-25 19:33:03  2013-06-29 13:36:58
 3       2007-05-25 19:34:53  2013-06-29 10:25:34
 4       2007-05-25 20:05:33  2010-04-05 18:41:41
 ...                     ...                  ...
 402873  2013-12-12 14:35:35  2013-12-12 14:35:35
 402874  2013-12-12 14:37:56  2013-12-12 14:37:56
 402875  2013-12-12 14:39:36  2013-12-12 14:39:36
 402876  2013-12-12 14:39:48  2013-12-12 14:39:48
 402877  2013-12-12 14:40:04  2013-12-12 14:40:04

 [402878 rows x 11 columns],
             id object_id  office_id   description         region  \
 0            1       c:1          1           NaN        Seattle
 1            2       c:3          3  Headquarters         SF Bay
 2            3       c:4          4           NaN         SF Bay
 3            4       c:5          5  Headquarters         SF Bay
 4            5       c:7          7           NaN         SF Bay
 ...        ...       ...        ...           ...            ...
 112713  112714   f:15098     127846           NaN       New York
 112714  112715  c:286200     127847           NaN  Santa Barbara
 112715  112716  c:256895     127848           NaN    Los Angeles
 112716  112717  c:256200     127849           NaN       New York
 112717  112718  c:286215     127850           NaN         SF Bay

                                   address1         address2           city  \
 0                         710 - 2nd Avenue       Suite 1100        Seattle
 1                          4900 Hopyard Rd        Suite 310     Pleasanton

In [17]:
# Function to apply join operation
def join_dfs(left, right):
    return pd.merge(left, right, on='id', how='inner')

# Join all DataFrames on 'id'
combined_df = reduce(join_dfs, data_frames)

combined_df.head()

/var/folders/2s/p1k4247d415_4x20kdhsxn8h0000gn/T/ipykernel_58736/97854833.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'object_id_x'} in the result is deprecated and will raise a MergeError in a future version.
  return pd.merge(left, right, on='id', how='inner')
/var/folders/2s/p1k4247d415_4x20kdhsxn8h0000gn/T/ipykernel_58736/97854833.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'updated_at_x', 'created_at_x'} in the result is deprecated and will raise a MergeError in a future version.
  return pd.merge(left, right, on='id', how='inner')
/var/folders/2s/p1k4247d415_4x20kdhsxn8h0000gn/T/ipykernel_58736/97854833.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'updated_at_x', 'object_id_x', 'created_at_x'} in the result is deprecated and will raise a MergeError in a future version.
  return pd.merge(left, right, on='id', how='inner')
/var/folders/2s/p1k4247d415_4x20kdhsxn8h0000gn/T/ipykernel_58736/97854833.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'source_url_x', 'source_description_x', 'updated_at_x', 'created_at_x'} in the result is deprecated and will raise a MergeError in a future version.
  return pd.merge(left, right, on='id', how='inner')

,id,funding_round_id_x,object_id_x,funded_at_x,funding_round_type,funding_round_code,raised_amount_usd,raised_amount_x,raised_currency_code_x,pre_money_valuation_usd,...,acquiring_object_id,acquired_object_id,term_code,price_amount,price_currency_code,acquired_at,source_url,source_description,created_at,updated_at
0,1,1,c:4,2006-12-01,series-b,b,8500000.0,8500000.0,USD,0.0,...,c:11,c:10,NaN,20000000.0,USD,2007-05-30,http://venturebeat.com/2007/05/30/fox-interact...,Fox Interactive confirms purchase of Photobuck...,2007-05-31 22:19:54,2008-05-21 19:23:44
1,4,4,c:5,2006-04-01,series-b,b,27500000.0,27500000.0,USD,525000000.0,...,c:59,c:155,cash,100000000.0,USD,2007-06-01,http://techcrunch.com/2007/05/23/100-million-p...,$100 Million Payday For Feedburner  This Deal...,2007-07-13 09:52:59,2012-06-05 03:22:17
2,6,6,c:9,2007-01-01,series-a,a,1500000.0,1500000.0,USD,8500000.0,...,c:227,c:228,NaN,7140000.0,USD,2003-08-05,http://www.businessweek.com/magazine/content/0...,E-Society: My World Is Cyworld,2007-07-20 09:58:29,2009-04-07 22:02:37
3,7,7,c:9,2007-03-01,series-b,b,10000000.0,10000000.0,USD,100000000.0,...,c:5,c:230,cash,0.0,USD,2007-07-01,http://www.techcrunch.com/2007/07/19/breaking-...,NaN,2007-07-26 07:36:07,2009-08-10 19:37:37
4,8,8,c:13,2005-12-01,series-a,seed,1500000.0,1500000.0,USD,0.0,...,c:318,c:314,cash,0.0,USD,2006-10-01,http://techcrunch.com/2006/10/31/breaking-news...,Breaking News: Condé Nast/Wired Acquires Reddit,2007-07-31 07:38:36,2012-01-16 03:04:04

In [20]:
objects_csv_path = '/Users/ariana/Desktop/DWITW - Final Project/Data Tables/objects.csv'
objects_df = pd.read_csv(objects_csv_path)

final_df = pd.merge(combined_df, objects_df, left_on='object_id', right_on='id', how='inner')
final_df.head()

/var/folders/2s/p1k4247d415_4x20kdhsxn8h0000gn/T/ipykernel_58736/3295609499.py:2: DtypeWarning: Columns (3,7,9,10,17,18,21,22,23,25,26,29,30,37) have mixed types. Specify dtype option on import or set low_memory=False.
  objects_df = pd.read_csv(objects_csv_path)
/var/folders/2s/p1k4247d415_4x20kdhsxn8h0000gn/T/ipykernel_58736/3295609499.py:4: FutureWarning: Passing 'suffixes' which cause duplicate columns {'updated_at_x', 'created_at_x'} in the result is deprecated and will raise a MergeError in a future version.
  final_df = pd.merge(combined_df, objects_df, left_on='object_id', right_on='id', how='inner')

,id_x,funding_round_id_x,object_id_x,funded_at_x,funding_round_type,funding_round_code,raised_amount_usd,raised_amount_x,raised_currency_code_x,pre_money_valuation_usd,...,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,created_by_y,created_at_y,updated_at_y
0,1,1,c:4,2006-12-01,series-b,b,8500000.0,8500000.0,USD,0.0,...,2011-09-08,8,1.160167e+09,2010-09-01,2013-12-12,6,162,initial-importer,2007-06-01 08:42:34,2013-08-27 14:41:20
1,16,16,c:18,2007-01-01,series-b,b,5700000.0,5700000.0,USD,0.0,...,2011-09-08,8,1.160167e+09,2010-09-01,2013-12-12,6,162,initial-importer,2007-06-01 08:42:34,2013-08-27 14:41:20
2,17,17,c:26,2005-06-01,series-a,a,13200000.0,13200000.0,USD,0.0,...,2011-09-08,8,1.160167e+09,2010-09-01,2013-12-12,6,162,initial-importer,2007-06-01 08:42:34,2013-08-27 14:41:20
3,18,18,c:22,2007-06-01,series-a,a,1500000.0,1500000.0,USD,0.0,...,2011-09-08,8,1.160167e+09,2010-09-01,2013-12-12,6,162,initial-importer,2007-06-01 08:42:34,2013-08-27 14:41:20
4,19,19,c:23,2007-05-09,series-a,a,45000000.0,45000000.0,USD,0.0,...,2011-09-08,8,1.160167e+09,2010-09-01,2013-12-12,6,162,initial-importer,2007-06-01 08:42:34,2013-08-27 14:41:20